.line{
  
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: 7px;
  
  } 
  


.div0{
width: 100vw;
text-align: center;
  }
  


  .btn{
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;
    margin-top: 7vh;

  }


  

   
  .roundimg{
    height: 60px;
    width: 60px;
    object-fit:contain;
    border-radius: 50%;
   
  
  } 
  
  hr{
    width: 70%;
  }


  .rounddiv {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(213, 213, 213);
    border: 0.15rem solid rgb(55, 255, 65);
    border-style: outset;
  
  
  } 

  li{
    /* background-color: red; */
    display: flex;
    justify-content:flex-start;
    margin-bottom :20%;
    margin-left: 20%;

  }
  .last{
    display: flex;
    justify-content: flex-start;
  }
 
  #chatmsg{
    padding: 10px;
   
    font-weight: 100;
    background-color: rgb(223, 223, 223);
    border-radius: 10%;
    width: auto;
    
  }